/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.logo {
    display: inline-block;
    margin-right: 20px;
  }
  
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }  

  .gradient-text {
    font-size: 70px; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally adjust the font weight */
    line-height: 1.5; /* Optionally adjust the line height */
    background-image: linear-gradient(to right, #8e18c0, #f1eceb); /* Violet gradient colors */
    -webkit-background-clip: text; /* For Safari/Chrome */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
  }
  
.logo {
    max-width: 280px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/001_VDROP_back.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #ef68ef;
    text-align: center;
}

